$mdc-layout-grid-max-width: 1024px;
$mdc-theme-primary: #fcb8ab;
$mdc-theme-secondary: #feeae6;
$mdc-theme-on-primary: #442b2d;
$mdc-theme-on-secondary: #442b2d;
@import "material-components-web/material-components-web";

html, body {
  margin: 0px;
  padding: 0px;
}
